html, body {
    margin: 0;
    padding: 0; 
}


header{
    background-color: #7C4DFF;
    color: white;

}

header div button{
    background-color: aliceblue;
    color: #7C4DFF;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0.5em;
    font-size: 15px;
}
header div button:hover{
    background-color: #6A3FE0;
    color: white;
    border:solid white;
}


button:active {
    transform: translateY(4px);
}

header div {
    display: flex;
    gap: 3em;
    padding: 1.5em 1em;
}



footer{
    padding: 0;
    margin: 0;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #7C4DFF;
    width: 100%;
    height: 6em;
    justify-content: center;
    align-content: center;
}
