
<main>
    <h1>Welcome {{username}}</h1>

    
    <button (click)="afficher()" *ngIf="!afficherRegle">See more</button>
    <section *ngIf="afficherRegle">
        <!-- If the button  "See more" is clicked, it print default rules -->
        <h1 style="display: flex; justify-content: center;">Regulation</h1>
        <div *ngFor="let elem of liste" class="art">
            <div class="titleArt">
                <h3>Article {{elem}}</h3>
            </div>
            <div class="txtArt">
                <p>{{lorem}}</p>
            </div>
            
            
        </div>
        <!-- If the button  "Hide regualations" is clicked, it hide the rules -->
        <button (click)="afficher()">Hide regualations</button>

    </section>
</main>
