
form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


button{
    background-color:#7C4DFF;

    font-size: 16px;
    padding: 6px 16px;
    border: none;
    border-radius: 8px;
    color:white;
    width: auto;
    align-self: self-start;
    outline: none;
    box-shadow: none;
}
button:hover{
    background-color: white;
    color: #7C4DFF;
    border: solid #7C4DFF;
}
button:active {
transform: translateY(4px);
}


div{
    display: flex;
    flex-direction: column;
}
input[type=text] {
  width: 20em;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}